# textbook
Linux-Pocket-Guide.pdf

# assignment folder
assignment/

# midterm folder
midterm/

# test codes folder
codes/

# vscode
*/*/.vscode/*
*/.vscode/*

# git folder for hw6
cse374-19sp-students-htutk-tmhh/